__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/

.env
*.env

*.log
logs/
debug.log


.vscode/
.idea/

*.so
*.dll
*.dylib

build/
dist/
*.egg-info/
.eggs/

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

data/
dump/

.DS_Store
Thumbs.db

node_modules/
npm-debug.log
yarn-error.log

*.tmp
*.temp
*.swp
